* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #e3e6e6;
}
nav {
  height: 60px;
  width: 100%;
  background-color: #233448;
}
.navdiv {
  background-color: #233448;
  width: 100%;
  display: flex;

  padding: 1px;
}
.im {
  align-self: auto;
}
/* .link{
    padding: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
} */

.loc {
  color: white;
  text-align: center;
  height: 45px;
  align-self: center;
  background-color: #233448;
  padding-left: 15px;
  padding-right: 15px;
  border-color: #233448;
  border-style: none;
  font-weight: bold;
}
.login {
  margin: 5px;
  padding: 5px;
  background-color: #febd69;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 50px;
  height: 50px;
  width: 70px;
  font-size: 30px;
}
.search {
  height: 15px;
  width: 700px;
  align-self: center;
  justify-self: center;
  margin-bottom: 25px;
}
.btn {
  background-color: #febd69;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  padding-left: 0%;
  margin-left: 0%;
  font-size: 16px;
}
.inp {
  height: 40px;
  width: 630px;
  border-radius: 5px;
  padding-right: 0px;
  margin-right: 0px;
}
.ret {
  margin-left: 50px;
  margin-right: 0px;
}
.div1 {
  background-color: #fbf1e7;
  height: 400px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.box {
  height: 270px;
  width: 350px;
  background-color: rgb(255, 255, 255);
  
  text-align: center;

  margin: auto;
  padding-top: 20px;
  border-radius: 5px;
}
.boxm {
  display: flex;
}
.imgg {
  height: 200px;
  width: fit-content;
  border-radius: 1px;
  margin-top: 10px;
}
.boxn {
  display: flex;
  margin-top: 25px;
  margin-bottom: 40px;
}
.navend {
  background-color: #37475a;
  width: 100%;
  color: white;
  text-align: center;
  align-content: center;
}

.div3 {
  width: 100%;
  height: 250px;
  background-color: #233448;
  text-align: center;
  align-content: center;
}
.ab {
  color: white;
  margin: 15px;
}

.nav2 {
  width: 100%;
  height: 39px;
  align-content: center;

  background-color: #232f3e;
}
.bb {
  color: #e3e6e6;
  margin: auto;
  padding: 20px;
}

.sign {
  color: white;
  text-align: center;
  height: 45px;
  align-self: center;
  background-color: #233448;
  padding-left: 15px;
  padding-right: 15px;
  border-color: #233448;
  border-style: none;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .search {
    width: 500px;
  }

  .inp {
    width: 420px;
  }

  .ret {
    margin-left: 50px;
  }

  .boxm,
  .boxn {
    flex-wrap: wrap;
    justify-content: center;
  }

  .box {
    margin: 15px;
  }

  .div1 img {
    width: 90%;
    height: auto;
  }
}

/* Mobile Phones (max-width: 768px) */
@media (max-width: 768px) {
  nav {
    height: auto;
  }

  .navdiv {
    flex-wrap: wrap;
    justify-content: center;
  }

  .im {
    margin-bottom: 10px;
  }

  .loc,
  .ret {
    font-size: 12px;
    padding: 5px;
    margin: 5px;
  }

  .search {
    width: 90%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }

  .inp {
    width: 75%;
  }

  .btn {
    width: 20%;
  }

  .login {
    font-size: 22px;
    width: 60px;
    height: 45px;
    margin: 10px;
  }

  .nav2 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bb {
    padding: 8px;
    font-size: 13px;
  }

  .div1 img {
    width: 100%;
    height: auto;
  }

  .boxm,
  .boxn {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
    height: auto;
  }

  .imgg {
    width: 90%;
    height: auto;
  }

  .hamburger {
    display: block;
  }

  .nav-items {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #233448;
  }

  .nav-items.active {
    display: flex;
  }

  .search {
    width: 90%;
  }

  .loc,
  .sign,
  .ret {
    width: 100%;
    text-align: center;
  }
}

/* Small Phones (max-width: 480px) */
@media (max-width: 480px) {
  .inp {
    width: 70%;
  }

  .btn {
    width: 25%;
  }

  .loc {
    font-size: 11px;
  }

  .bb {
    font-size: 12px;
  }
}

.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
  align-self: center;
  padding: 10px;
}

.nav-items {
  display: flex;
  align-items: center;
  width: 100%;
}
